.career {
  &__inner {
    color: white;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px 0;
  }

  &__link {
    max-width: 187px;
  }

  &__about-me {
    width: 50%;
  }

  &__about-me-inner {
    padding: 50px 0;
  }

  &__about-me-content {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    border: 2px dashed rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
  }

  &__about-me-content-wrapper {
  }

  &__about-me-title {
    margin: 0;
    margin-bottom: 30px;
    font-family: $font-family;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
  }

  &__about-me-description {
    margin: 0;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #c1c1c1;
  }

  &__about-me-image {
    margin-bottom: 116px;
    display: block;
    align-self: self-end;
  }

  &__about-me-button {
    display: flex;
    align-items: center;
    width: 187px;
    height: 52px;
  }

  &__experience {
    width: 50%;
  }

  &__experience-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 64px;
  }

  &__experience-group {
    display: flex;
    gap: 30px;
  }

  &__experience-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
  }

  &__experience-number {
    width: 130px;
    display: flex;
    font-family: $font-family;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    
  }

  &__experience-plus {
    color: #5483fc;
  }

  &__experience-years {
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
  }

  &__experience-text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    margin: 14px 0;
  }
}