.career {
  

  &__inner {
    background-color: #111418;
    color: white;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px 0;
  }

  &__about-me {
    width: 50%;
  }

  &__about-me-inner {
    padding: 50px 0;
  }

  &__about-me-content {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    border: 2px dashed rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
  }

  &__about-me-content-wrapper {
  }

  &__about-me-title {
    margin-bottom: 30px;
  }

  &__about-me-description {}

  &__about-me-image {}

  &__about-me-button {

  }

  &__divider {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  &__divider-line {
    width: 2px;
    height: 213px;
    border: 2px solid rgba(255, 255, 255, 0.05);
  }
  
  &__divider-circle {
    width: 20px; /* Диаметр круга */
    height: 20px; /* Диаметр круга */
    border-radius: 50%; /* Делает элемент кругом */
    border: 2px solid rgba(255, 255, 255, 0.05);
  }
  

  &__experience {
    width: 50%;
  }
}