.feedback{
    display: flex;
    justify-content: center;

    &__message{
        font-family: $font-family;
        font-weight: 600;
        font-size: 32px;
        color: #fff;
        margin-bottom: 15px;
    }

    &__send{
        max-width: 161px;
    }

    &__contacts {
        display: flex; /* Устанавливаем горизонтальное расположение */
        justify-content: center; /* Центрируем блоки по горизонтали */
        margin-top: 20px; /* Отступ между формой и контактами */
    }
    

    &__contacts {
        display: flex; /* Устанавливаем горизонтальное расположение */
        justify-content: center; /* Центрируем блоки по горизонтали */
        margin-top: 20px; /* Отступ между формой и контактами */
    }

    &__desc{
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        color: #c1c1c1;;
        margin-bottom: 50px;
    }

    &__form-name{
        padding: 16px 20px;
        width: 530px;
        height: 49px;
        display: block;
        margin-bottom: 20px;
        background: #111418;
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        color: #c1c1c1;
    }

    &__form-email{
        padding: 16px 20px;
        width: 530px;
        height: 49px;
        display: block;
        margin-bottom: 20px;
        background: #111418;
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        color: #c1c1c1;
    }

    &__form-comment{
        padding: 21px 20px;
        width: 530px;
        height: 142px;
        display: block;
        margin-bottom: 50px;
        background: #111418;
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        color: #c1c1c1;
    }

    &__form{
        padding: 50px;
        width: 630px;
        height: 641px;
        background: rgba(255, 255, 255, 0.05);
        display: flex;
        flex-direction: column;
    }
    
    &__line{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__line_one{
        width: 2px;
        height: 268px;
        background: rgba(255, 255, 255, 0.05);
    }

    &__line_two{
        width: 2px;
        height: 268px;
        background: rgba(255, 255, 255, 0.05);
    }

    &__contacts{
        display: flex;
        flex-direction: column;
    }

    &__whatsapp{
        border: 2px solid rgba(255, 255, 255, 0.1);
        padding: 30px 40px;
        margin-bottom: 20px;
        gap: 40px;
        display: flex;
        flex-direction: row;
        align-items: center; /* Центрируем содержимое по горизонтали */
        width: 630px; /* Фиксированная ширина блока */
        height: 112px; /* Фиксированная высота блока */
    }
    
    &__telegram {
        border: 2px solid rgba(255, 255, 255, 0.1);
        padding: 30px 40px;
        margin-bottom: 20px;
        gap: 40px;
        display: flex;
        flex-direction: row;
        align-items: center; /* Центрируем содержимое по горизонтали */
        width: 630px; /* Фиксированная ширина блока */
        height: 112px; /* Фиксированная высота блока */
    }

    &__line_three{
        width: 2px;
        height: 52px;
        background-color: #111;
    }

    &__line_four{
        width: 2px;
        height: 52px;
        background-color: #111;
    }

    &__whatsapp_text{
        width: 419px;
        //height: 52px;
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #fff;
    }

    &__telegram_text{
        width: 419px;
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #fff;
    }
}