.header {
    display: flex; 
    align-items: center;
    padding-left: 245px;
    padding-right: 60px;
    max-width: 1440px;
    height: 234px;

    &__title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 32px;
        text-transform: uppercase;
        width: 345px;
        height: 114px;
    }

    &__menu-nav {
        margin-left: auto;
        text-align: right;
    }   

    &__svg:hover{
        transition: color 0.4s ease;
        stroke: #5483fc;
    }

    &__link{
        text-decoration: none;
    }

}
.header__menu-nav + svg:hover{
    background-color: #5483fc;
}
.hero {
    display: grid;
    grid-template-columns: auto 80px auto;
    max-width: 1440px;
    height: 560px;
    padding-left: 245px;
    padding-right: 60px;
    

    &__first {
        font-family: $font-family;
        font-weight: 700;
        font-size: 60px;
        padding: 0 20px 20px 0;
        margin-right: 20px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    &__firstlast{
        font-family: $font-family;
        font-weight: 400;
        font-size: 24px;
        text-align: right;
    }

    &__second {
        flex-direction: column;
        font-family: $font-family;
        font-weight: 700;
        font-size: 60px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
        height: 100%;
        text-align: left;
    }

    &__secondlast{
        font-family: $font-family;
        font-weight: 400;
        font-size: 24px;
        text-align: right;
        
    }

    .divider {
        width: 1px; 
        background-color: #ccc;
        height: 100%;
    }
}