$font-family: "Golos Text", sans-serif;

// FONT SIZE
$text-xs: 13px;
$text-sm: 14px;
$text-base: 18px;
$text-lg: 20px;
$heading-mobile: 30px;
$heading-big-mobile: 32px;
$heading-tablet: 48px;
$heading-laptop-desktop: 60px;